html, body {
    height: 100%;
}
body {
    background-color:#1778bd;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.container .login-form {
    width:40vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:40px 0 40px 0;
    position:relative;
}

.container .login-form img{ 
    position: absolute;
    left: 10px;
    top:10px;
}

.container .login-form form{
    display: flex;
    flex-direction: column;
}

.container .login-form form p{
   width: 100%;
   margin-bottom:0;
}

.container .login-form form input[type="text"], .container .login-form form input[type="password"],.container .login-form form input[type="submit"]{
    padding:10px 0 10px 0;
}

.container .login-form form input[type="submit"]{
    background-color: #1c63a7;
    color: white;
    text-align: center;
    width:70%;
    display: block;
    margin: 0 auto;
}