html, body {
    height: 100%;
}
body {
    background-color:#1778bd;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.container .login-form {
    width:800px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:40px 0 40px 0;
    position:relative;
}


.container .login-form img {
   
}

.container .login-form img{ 
    position: absolute;
    left: 20px;
    top:20px;
    width:80px;
}

.container .login-form form{
    display: flex;
    flex-direction: column;
    width:50%;
}

.container .login-form form p{
   margin-bottom:0;
   display: flex;
   justify-content: center;
}

.container .login-form form input[type="text"], .container .login-form form input[type="password"],.container .login-form form input[type="submit"]{
    padding:10px 0 10px 0;
    width: 90%;
}

.container .login-form form input[type="submit"]{
    background-color: #1c63a7;
    color: white;
    text-align: center;
    width:70%;
    display: block;
    margin: 0 auto;
}

nav {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    }
    nav div{
    height: 30px;
    flex-grow: 4;
    padding: 10px;
    }
    nav div img {
    height: 100%;
    }
    nav div.search-container > input {
    box-sizing: border-box;
    height: 30px;
    width: 80%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
    }
    nav div.search-container > button {
    box-sizing: border-box;
    height: 30px;
    width: 20%;
    margin: 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: #e0e0e0;
    }
    section {
        display: flex;
        width: 80%;
        margin: 30px auto;
        }
        
            footer {
                font-size: 8px;
                font-style: italic;
                font-weight: bold;
                text-align: center;
                color: #b71c1c;
            }
            .navbar {
                overflow: hidden;
                background-color: #333;
                position: fixed;
                top: 0;
                width: 100%;
              }
              
              .navbar div:hover {
                background: #ddd;
                color: black;
              }