html {height: 100%;}
body {
    background-color:#1778bd;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container .login-form {
    width:40vw;
    background-color: white;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding:40px 0 40px 0;
    position:relative;
}

.container .login-form img{ 
    position: absolute;
    left: 10px;
    top:10px;
}

.container .login-form form{
    display: flex;
    flex-flow: column;
    justify-content: center;
}